---
import Layout from "@/layouts/Layout.astro";
import { BrandCashIcon, PointIcon } from "@/components/icons";
import CoverageModal from "@/components/CoverageModal";
import TableComponent from "@/components/TableInfo";
import { ServiceButton } from "@/components/Buttons";
import { Divider } from "@nextui-org/react";
---

<Layout
  title="TPC Express - Servicios COD de Mensajería Rápida y Confiable en Ciudad de Guatemala"
  description="En TPC Express ofrecemos soluciones de mensajería seguras y eficientes en Ciudad de Guatemala. Entregamos tus paquetes a tiempo, con profesionalismo y confianza. ¡Nos encantaría ayudarte!"
>
  <section class="container">
    <h1 class="uppercase font-bold text-4xl p-5">De que se trata?</h1>
    <div
      class="flex flex-col lg:flex-row items-center justify-between gap-10 my-10 p-4"
    >
      <BrandCashIcon size={200} className="text-primary" />
      <div class="flex flex-col gap-2">
        <p class="flex items-center justify-start gap-2">
          <PointIcon size={25} className="text-primary" />
          Servicio de entrega y cobro de mercadería en el destino.
        </p>
        <p class="flex items-center justify-start gap-2">
          <PointIcon size={25} className="text-primary" />
          Comision del 3% sobre el valor de la mercadería.
        </p>
        <p class="flex items-center justify-start gap-2">
          <PointIcon size={25} className="text-primary" />
          Deposito en 24 horas Hábiles.
        </p>
        <p class="flex items-center justify-start gap-2">
          <PointIcon size={25} className="text-primary" />
          Diseñado para Emprendedores, Empresas o Personas que desean que se cobre
          el valor de la mercadería al momento de la entrega.
        </p>
        <p class="flex items-center justify-start gap-2">
          <PointIcon size={25} className="text-primary" />
          Se cobra 1% de seguro (Sobre el valor de la mercadería), en caso de siniestro
          tu producto esta cubierto.
        </p>
      </div>
    </div>
    <div>
      <h3 class="uppercase font-semibold">Como Funciona?</h3>
      <p>
        Llenas nuestro formulario para realizar tu envío, recibiras una
        confirmación y detalle de tu pedido vía Correo Electrónico, nuestro
        equipo se pondrá en contacto para confirmar el servicio y listo.
      </p>
      <CoverageModal client:load />
    </div>
    <div class="flex flex-col gap-2 my-5 p-4">
      <p class="flex items-center justify-start gap-2">
        <PointIcon size={25} className="text-primary" />
        Valor maximo de mercadería: Q5,000.
      </p>
      <p class="flex items-center justify-start gap-2">
        <PointIcon size={25} className="text-primary" />
        Debes tener cuenta bancaria válida y activa
      </p>
      <p class="flex items-center justify-start gap-2">
        <PointIcon size={25} className="text-primary" />
        Se cobra 3% sobre el valor de la mercadería por el servicio de C.O.D
      </p>
      <p class="flex items-center justify-start gap-2">
        <PointIcon size={25} className="text-primary" />2 Intentos de Entrega.
      </p>
      <p class="flex items-center justify-start gap-2">
        <PointIcon size={25} className="text-primary" />
        Recargo por peso adicional.
      </p>
      <p class="flex items-center justify-start gap-2">
        <PointIcon size={25} className="text-primary" />
        Puedes cancelar el servicio (Antes de que sea recolectado) sin penalización.
      </p>
      <p class="flex items-center justify-start gap-2">
        <PointIcon size={25} className="text-primary" />
        <a
          href="/terms"
          class="underline underline-offset-2 hover:text-primary"
        >
          Aplican Terminos y Condiciones
        </a>
      </p>
    </div>
    <div>
      <TableComponent
        client:visible
        serviceName={"C.O.D"}
        serviceComision={"3%"}
      />
    </div>
    <div class="flex items-center justify-center my-10">
      <ServiceButton client:visible />
    </div>
    <Divider className="my-10" />
  </section>
</Layout>
