---
import Layout from "@/layouts/Layout.astro";
import FormComponent from "@/components/Form";
import AccordionComponent from "@/components/Accordion";
---

<Layout
  title="Contáctanos | TPC Express - Envíos Rápidos y Seguros a tu Alcance"
  description="¿Tienes preguntas o necesitas ayuda con nuestros servicios de mensajería? Contacta a TPC Express. Estamos disponibles para resolver tus dudas y ofrecerte soluciones rápidas y seguras. ¡Escríbenos hoy mismo!"
>
  <section class="container">
    <h1 class="font-bold text-4xl my-5">Contactactanos</h1>
    <FormComponent client:visible />
    <div class="mt-16 p-5 border border-primary/30 rounded-lg">
      <h3 class="font-bold text-4xl my-7 text-center">Preguntas Frecuentes</h3>
      <AccordionComponent client:visible />
    </div>
  </section>
</Layout>
