---
import Layout from "@/layouts/Layout.astro";
import FormComponent from "@/components/Form";
import AccordionComponent from "@/components/Accordion";
---

<Layout
  title="Contacta con TPC Express | Atención Personalizada"
  description="¿Necesitas ayuda con tus envíos? Contáctanos y recibe atención inmediata. Disponibles por teléfono, WhatsApp y correo. ¡Tu mensajería de confianza está a un clic!"
>
  <section class="container">
    <h1 class="font-bold text-4xl my-5">Contactactanos</h1>
    <FormComponent client:only="react" />
    <div class="mt-16 p-5 border border-primary/30 rounded-lg">
      <h3 class="font-bold text-4xl my-7 text-center">Preguntas Frecuentes</h3>
      <AccordionComponent client:visible />
    </div>
  </section>
</Layout>
