---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Programa tu Envío Online | Servicio Inmediato | TPC Express"
  description="Realiza tu envío en minutos con TPC Express. Proceso simple y seguro, confirmación inmediata y seguimiento personalizado. ¡Comienza a enviar ahora!"
>
  <h1>Envio</h1>
</Layout>
