---
import { MisionIcon, PusrposeIcon, VisionIcon } from "@/components/icons";
import Layout from "@/layouts/Layout.astro";
import { Divider, Image } from "@nextui-org/react";
---

<Layout
  title="Liderazgo que Transforma la Mensajería | TPC Express"
  description=" En TPC Express, nuestro liderazgo inspira innovación y compromiso. Descubre cómo nuestro equipo transforma la mensajería y la logística, conectando negocios y personas con rapidez y confianza."
>
  <section class="container">
    <h1 class="font-bold text-4xl p-5">Quienes Somos?</h1>
    <div class="grid lg:grid-cols-3 items-center justify-center gap-2 my-10">
      <div class="flex flex-col gap-2 items-center justify-center p-3">
        <MisionIcon size={60} className="text-primary" />
        <h4 class="font-semibold text-center">Nuestra Misión</h4>
        <p class="text-justify max-w-md">
          Nuestra misión es proporcionar servicios de mensajería excepcionales
          que conecten a personas y empresas de manera eficiente y segura. Nos
          comprometemos a ofrecer soluciones logísticas innovadoras y confiables
          que superen las expectativas de nuestros clientes, brindando un valor
          agregado a sus operaciones diarias.
        </p>
      </div>
      <div class="flex flex-col gap-3 items-center justify-center p-3">
        <VisionIcon size={60} className="text-primary" />
        <h4 class="font-semibold text-center">Nuestra Visión</h4>
        <p class="text-justify max-w-md">
          En TPC EXPRESS, nos visualizamos como la primera elección en
          soluciones de mensajería, liderando la industria con un compromiso
          inquebrantable con la eficiencia, confiabilidad y servicio al cliente
          excepcional. Nos esforzamos por ser el socio logístico preferido para
          empresas y particulares
        </p>
      </div>
      <div class="flex flex-col gap-3 items-center justify-center p-3">
        <PusrposeIcon size={60} className="text-primary" />
        <h4 class="font-semibold text-center">Propósito</h4>
        <p class="text-justify max-w-md">
          El propósito fundamental de TPC EXPRESS es facilitar la conexión y el
          progreso al proporcionar soluciones de mensajería que trascienden la
          simple entrega de paquetes. Nos esforzamos por ser el puente que
          acerca a las personas, las comunidades y los negocios, creando un
          impacto positivo en la vida cotidiana.
        </p>
      </div>
    </div>
    <div>
      <h1 class="font-bold text-4xl p-5">Nuestros Valores</h1>
      <div class="grid md:grid-cols-2 gap-3 my-10">
        <div class="flex items-center justify-center">
          <Image
            client:visible
            src="/values/values.svg"
            alt="Valores"
            width={400}
            loading="lazy"
          />
        </div>
        <div class="flex flex-col gap-3 items-center justify-center">
          <div>
            <h5 class="font-semibold text-primary">PUNTUALIDAD</h5>
            <p>
              Garantizamos la entrega de tus envíos con la máxima precisión y en
              el tiempo acordado.
            </p>
          </div>
          <div>
            <h5 class="font-semibold text-primary">TRANSPARENCIA</h5>
            <p>
              Creemos en la apertura y honestidad en cada paso del proceso de
              entrega.
            </p>
          </div>
          <div>
            <h5 class="font-semibold text-primary">LEALTAD</h5>
            <p>
              Valoramos la relación a largo plazo que construimos contigo y tu
              confianza en nuestros servicios.
            </p>
          </div>
          <div>
            <h5 class="font-semibold text-primary">EXCELENCIA</h5>
            <p>
              Desde la atención al cliente hasta la manipulación cuidadosa de
              tus paquetes, cada aspecto de nuestro servicio se ejecuta con un
              estándar de calidad insuperable.
            </p>
          </div>
          <div>
            <h5 class="font-semibold text-primary">ESCUCHA</h5>
            <p>
              No solo entregamos paquetes, sino que también conectamos con tus
              prioridades. Estamos aquí para escuchar lo que es más importante
              para ti en cada envío.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Divider className="my-10" />
</Layout>
