---
import Layout from "@/layouts/Layout.astro";
import QuoteSection from "@/sections/Quote";
---

<Layout
  title="Cotiza tu Envío | Precios Competitivos | TPC Express"
  description="Calcula el costo de tu envío al instante. Tarifas transparentes y competitivas para todos nuestros servicios de mensajería. ¡Cotiza gratis y envía con confianza!"
>
  <section class="container">
    <h1 class="text-4xl font-bold my-10">Realizar Cotización</h1>
    <QuoteSection client:load />
  </section>
</Layout>
