---
import AlertUI from "@/components/ui/alert";
import Layout from "@/layouts/Layout.astro";
import QuoteSection from "@/sections/Quote";
---

<Layout
  title="Cotiza tu Envío | Precios Competitivos | TPC Express"
  description="Calcula el costo de tu envío al instante. Tarifas transparentes y competitivas para todos nuestros servicios de mensajería. ¡Cotiza gratis y envía con confianza!"
>
  <section class="container">
    <div class="my-6">
      <h1 class="text-4xl font-bold my-1">Realizar Cotización</h1>
      <AlertUI
        title="Los paquetes serán enviados a la misma dirección seleccionada."
      />
    </div>
    <QuoteSection client:load />
  </section>
</Layout>
