---
import "@/styles/globals.css";
import NavBar from "@/sections/NavBar";
import Footer from "@/sections/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.ico" />
    <link rel="apple-touch-icon" href="/logo.ico" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://analytics.ahrefs.com/analytics.js"
      data-key="i4OPofmnNn5z0ff4TnicNA"
      async></script>
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <NavBar client:load />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  /* @font-face {
    font-family: "Clash";
    src: url("@/assets/fonts/clash.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  } */
  html,
  body {
    font-family: "Clash", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
  }
</style>
